/*=======skill settings========================*/
.skills {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.skills .skill {
          width: 250px;
          background-color: white;
          padding-top: 10px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: 15px;
          margin: 33.33333px 0;
          -webkit-box-shadow: 0px 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0 5px rgba(0, 0, 0, 0.5); 
}

.skills .skill:hover {
            -webkit-box-shadow: 0px 20px 10px -10px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 20px 10px -10px rgba(0, 0, 0, 0.5);
            margin: 23.33333px 0 43.33333px;
}

.desc {
        color: #a0a0a0;
        font-weight: bold;
        text-align: center; }

.skills .skill p {
            text-align: center;
            font-weight: bold;
            color: #c0c0c0; 
}

.skills .skill .skill_name {
            text-align: center;
            font-weight: bold;
            font-size: 20px;
            border-top: 1px dashed #eee;
            line-height: 50px; 
}

/*==========================================
Skill html 
==========================================*/
.skills .skill .html{
            position: relative;
            width: 120px;
            height: 120px;
            background: #ffbf7f;
            border-radius: 50%;
            text-align: center;
            overflow: hidden;
            margin: 30px auto 0;
            z-index: 1;
            -webkit-box-shadow: 0 0 5px #a0a0a0;
            box-shadow: 0 0 5px #a0a0a0;
}

.skills .skill .html::before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: -160px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: right 60px;
              -ms-transform-origin: right 60px;
              transform-origin: right 60px;
              z-index: 2;
              -webkit-animation-delay: 3s;
              animation-delay: 3s;
}

.skills .skill .html::after {
              content: "";
              display: block;
              position: absolute;
              top: 0px;
              left: 60px;
              width: 120px;
              height: 120px;
              background: #ffbf7f;
              -webkit-transform-origin: left 60px;
              -ms-transform-origin: left 60px;
              transform-origin: left 60px;
              z-index: 3;
              -webkit-animation-delay: 3s;
              animation-delay: 3s;
}

.skills .skill .html .circle-inner {
              position: absolute;
              top: 20px;
              left: 20px;
              width: 80px;
              height: 80px;
              background: white;
              border-radius: 50%;
              z-index: 4;
              -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.skills .skill .html .circle-inner img {
                width: 40px;
                margin-top: 20px; 
}

@media screen and (max-width:940px) {
  .skills .skill .html .circle-inner img {
              width: 35px;
              margin-top: 22.5px; 
  }
}

@-webkit-keyframes rotate-html-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #eee; }
  50.01% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #ffbf7f; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #ffbf7f; } 
}

@keyframes rotate-html-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #eee; }
  50.01% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #ffbf7f; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #ffbf7f; } 
}

@-webkit-keyframes rotate-html-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg); } 
}

@keyframes rotate-html-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg); } 
}

.skills .skill .html_anim::before{
            -webkit-animation: rotate-html-left 1.5s linear 1s forwards;
            animation: rotate-html-left 1.5s linear 1s forwards; 
}

.skills .skill .html_anim::after{
            -webkit-animation: rotate-html-right 1.5s linear 1s forwards;
            animation: rotate-html-right 1.5s linear 1s forwards; 
}


/*==========================================
Skill css 
==========================================*/
.skills .skill .css{
            position: relative;
            width: 120px;
            height: 120px;
            background: #7fbfff;
            border-radius: 50%;
            text-align: center;
            overflow: hidden;
            margin: 30px auto 0;
            z-index: 1;
            -webkit-box-shadow: 0 0 5px #a0a0a0;
            box-shadow: 0 0 5px #a0a0a0; 
}

.skills .skill .css::before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: -60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: right 60px;
              -ms-transform-origin: right 60px;
              transform-origin: right 60px;
              z-index: 2;
              -webkit-animation-delay: 3s;
              animation-delay: 3s;
}

.skills .skill .css::after {
              content: "";
              display: block;
              position: absolute;
              top: 0px;
              left: 60px;
              width: 120px;
              height: 120px;
              background: #7fbfff;
              -webkit-transform-origin: left 60px;
              -ms-transform-origin: left 60px;
              transform-origin: left 60px;
              z-index: 3;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; 
}

.skills .skill .css .circle-inner {
              position: absolute;
              top: 20px;
              left: 20px;
              width: 80px;
              height: 80px;
              background: white;
              border-radius: 50%;
              z-index: 4;
              -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.skills .skill .css .circle-inner img {
                width: 40px;
                margin-top: 20px; 
}

.skills .skill .css .circle-inner img {
              width: 35px;
              margin-top: 22.5px; 
}

@-webkit-keyframes rotate-css-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #eee; }
  50.01% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #7fbfff; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #7fbfff; } 
}

@keyframes rotate-css-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #eee; }
  50.01% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #7fbfff; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #7fbfff; } 
}

@-webkit-keyframes rotate-css-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(108deg);
    transform: rotate(108deg); } 
}

@keyframes rotate-css-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(108deg);
    transform: rotate(108deg); } 
}

.skills .skill .css_anim::before {
            -webkit-animation: rotate-css-left 1.5s linear 1s forwards;
            animation: rotate-css-left 1.5s linear 1s forwards;
}

.skills .skill .css_anim::after {
            -webkit-animation: rotate-css-right 1.5s linear 1s forwards;
            animation: rotate-css-right 1.5s linear 1s forwards; 
}


/*==========================================
Skill javascript
==========================================*/
.skills .skill .js {
            position: relative;
            width: 120px;
            height: 120px;
            background: #ffff7f;
            border-radius: 50%;
            text-align: center;
            overflow: hidden;
            margin: 30px auto 0;
            z-index: 1;
            -webkit-box-shadow: 0 0 5px #a0a0a0;
            box-shadow: 0 0 5px #a0a0a0; 
}

.skills .skill .js::before {
              content: "";
              display: block;
              position: absolute;
              top: 60px;
              left: -60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: right 60px;
              -ms-transform-origin: right 60px;
              transform-origin: right 60px;
              z-index: 2;
              -webkit-animation-delay: 3s;
              animation-delay: 3s;
}

.skills .skill .js::after {
              content: "";
              display: block;
              position: absolute;
              top: 0px;
              left: 60px;
              width: 120px;
              height: 120px;
              background: #ffff7f;
              -webkit-transform-origin: left 60px;
              -ms-transform-origin: left 60px;
              transform-origin: left 60px;
              z-index: 3;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; 
}

.skills .skill .js .circle-inner {
              position: absolute;
              top: 20px;
              left: 20px;
              width: 80px;
              height: 80px;
              background: white;
              border-radius: 50%;
              z-index: 4;
              -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.skills .skill .js .circle-inner img {
                width: 40px;
                margin-top: 20px; 
}

.skills .skill .js .circle-inner img {
              width: 35px;
              margin-top: 22.5px; 
}

@-webkit-keyframes rotate-js-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #eee; }
  50.01% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #ffff7f; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #ffff7f; } }

@keyframes rotate-js-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #eee; }
  50.01% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #ffff7f; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #ffff7f; } }

@-webkit-keyframes rotate-js-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(72deg);
    transform: rotate(72deg); } }

@keyframes rotate-js-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(72deg);
    transform: rotate(72deg); } 
}

.skills .skill .js_anim::before {
            -webkit-animation: rotate-js-left 1.5s linear 1s forwards;
            animation: rotate-js-left 1.5s linear 1s forwards; 
}

.skills .skill .js_anim::after {
            -webkit-animation: rotate-js-right 1.5s linear 1s forwards;
            animation: rotate-js-right 1.5s linear 1s forwards; 
}


/*==========================================
Skill jquery
==========================================*/
.skills .skill .jq {
            position: relative;
            width: 120px;
            height: 120px;
            background: #00ad79;
            border-radius: 50%;
            text-align: center;
            overflow: hidden;
            margin: 30px auto 0;
            z-index: 1;
            -webkit-box-shadow: 0 0 5px #a0a0a0;
            box-shadow: 0 0 5px #a0a0a0; 
}

.skills .skill .jq::before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: -60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: right 60px;
              -ms-transform-origin: right 60px;
              transform-origin: right 60px;
              z-index: 2;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; 
}

.skills .skill .jq::after {
              content: "";
              display: block;
              position: absolute;
              top: 0px;
              left: 60px;
              width: 120px;
              height: 120px;
              background: #00ad79;
              -webkit-transform-origin: left 60px;
              -ms-transform-origin: left 60px;
              transform-origin: left 60px;
              z-index: 3;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; 
}

.skills .skill .jq .circle-inner {
              position: absolute;
              top: 20px;
              left: 20px;
              width: 80px;
              height: 80px;
              background: white;
              border-radius: 50%;
              z-index: 4;
              -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.skills .skill .jq .circle-inner img {
                width: 50px;
                margin-top: 30px; 
}

.skills .skill .jq .circle-inner img {
              margin-top: 25px; 
}

@-webkit-keyframes rotate-jq-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #eee; }
  50.01% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #00ad79; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #00ad79; } }

@keyframes rotate-jq-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #eee; }
  50.01% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #00ad79; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #00ad79; } }

@-webkit-keyframes rotate-jq-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg); } }

@keyframes rotate-jq-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg); } }

.skills .skill .jq_anim::before {
            -webkit-animation: rotate-jq-left 1.5s linear 1s forwards;
            animation: rotate-jq-left 1.5s linear 1s forwards; 
}

.skills .skill .jq_anim::after {
            -webkit-animation: rotate-jq-right 1.5s linear 1s forwards;
            animation: rotate-jq-right 1.5s linear 1s forwards; 
}

/*==========================================
Skill php
==========================================*/
.skills .skill .php {
            position: relative;
            width: 120px;
            height: 120px;
            background: #7174ad;
            border-radius: 50%;
            text-align: center;
            overflow: hidden;
            margin: 30px auto 0;
            z-index: 1;
            -webkit-box-shadow: 0 0 5px #a0a0a0;
            box-shadow: 0 0 5px #a0a0a0; 
}

.skills .skill .php::before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: -60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: right 60px;
              -ms-transform-origin: right 60px;
              transform-origin: right 60px;
              z-index: 2;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; 
}

.skills .skill .php::after {
              content: "";
              display: block;
              position: absolute;
              top: 0px;
              left: 60px;
              width: 120px;
              height: 120px;
              background: #7174ad;
              -webkit-transform-origin: left 60px;
              -ms-transform-origin: left 60px;
              transform-origin: left 60px;
              z-index: 3;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; 
}

.skills .skill .php .circle-inner {
              position: absolute;
              top: 20px;
              left: 20px;
              width: 80px;
              height: 80px;
              background: white;
              border-radius: 50%;
              z-index: 4;
              -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.skills .skill .php .circle-inner img {
                width: 40px;
                margin-top: 20px; 
}

.skills .skill .php .circle-inner img {
              width: 50px;
              margin-top: 25px; 
}

@-webkit-keyframes rotate-php-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #eee; }
  50.01% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #7174ad; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #7174ad; } }

@keyframes rotate-php-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #eee; }
  50.01% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #7174ad; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #7174ad; } }

@-webkit-keyframes rotate-php-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg); } }

@keyframes rotate-php-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg); } }

.skills .skill .php_anim::before {
            -webkit-animation: rotate-php-left 1.5s linear 1s forwards;
            animation: rotate-php-left 1.5s linear 1s forwards; 
}

.skills .skill .php_anim::after {
            -webkit-animation: rotate-php-right 1.5s linear 1s forwards;
            animation: rotate-php-right 1.5s linear 1s forwards; 
}

/*==========================================
Skill Premiere Pro
==========================================*/
.skills .skill .pr {
            position: relative;
            width: 120px;
            height: 120px;
            background: #41134d;
            border-radius: 50%;
            text-align: center;
            overflow: hidden;
            margin: 30px auto 0;
            z-index: 1;
            -webkit-box-shadow: 0 0 5px #a0a0a0;
            box-shadow: 0 0 5px #a0a0a0; 
}

.skills .skill .pr::before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: -60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: right 60px;
              -ms-transform-origin: right 60px;
              transform-origin: right 60px;
              z-index: 2;
              -webkit-animation-delay: 3s;
              animation-delay: 3s;
}

.skills .skill .pr::after {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: 60px;
              width: 120px;
              height: 120px;
              background: #41134d;
              -webkit-transform-origin: left 60px;
              -ms-transform-origin: left 60px;
              transform-origin: left 60px;
              z-index: 3;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; 
}

.skills .skill .pr .circle-inner {
              position: absolute;
              top: 20px;
              left: 20px;
              width: 80px;
              height: 80px;
              background: white;
              border-radius: 50%;
              z-index: 4;
              -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.skills .skill .pr .circle-inner img {
                width: 40px;
                margin-top: 20px; 
}

.skills .skill .pr .circle-inner img {
              width: 40px;
              margin-top: 20px; 
}


/*==========================================
Skill Photo Shope
==========================================*/
.skills .skill .ps {
            position: relative;
            width: 120px;
            height: 120px;
            background: #00b8dd;
            border-radius: 50%;
            text-align: center;
            overflow: hidden;
            margin: 30px auto 0;
            z-index: 1;
            -webkit-box-shadow: 0 0 5px #a0a0a0;
            box-shadow: 0 0 5px #a0a0a0; 
}

.skills .skill .ps::before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: -60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: right 60px;
              -ms-transform-origin: right 60px;
              transform-origin: right 60px;
              z-index: 2;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; 
}

.skills .skill .ps::after {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: 60px;
              width: 120px;
              height: 120px;
              background: #00b8dd;
              -webkit-transform-origin: left 60px;
              -ms-transform-origin: left 60px;
              transform-origin: left 60px;
              z-index: 3;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; 
}

.skills .skill .ps .circle-inner {
              position: absolute;
              top: 20px;
              left: 20px;
              width: 80px;
              height: 80px;
              background: white;
              border-radius: 50%;
              z-index: 4;
              -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.skills .skill .ps .circle-inner img {
                width: 40px;
                margin-top: 20px; 
}

.skills .skill .ps .circle-inner img {
              width: 40px;
              margin-top: 20px; 
}


/*==========================================
Skill Xetend
==========================================*/
.skills .skill .xd {
            position: relative;
            width: 120px;
            height: 120px;
            background: #d73f90;
            border-radius: 50%;
            text-align: center;
            overflow: hidden;
            margin: 30px auto 0;
            z-index: 1;
            -webkit-box-shadow: 0 0 5px #a0a0a0;
            box-shadow: 0 0 5px #a0a0a0; 
}

.skills .skill .xd::before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: -60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: right 60px;
              -ms-transform-origin: right 60px;
              transform-origin: right 60px;
              z-index: 2;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; 
}

.skills .skill .xd::after {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: 60px;
              width: 120px;
              height: 120px;
              background: #d73f90;
              -webkit-transform-origin: left 60px;
              -ms-transform-origin: left 60px;
              transform-origin: left 60px;
              z-index: 3;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; 
}

.skills .skill .xd .circle-inner {
              position: absolute;
              top: 20px;
              left: 20px;
              width: 80px;
              height: 80px;
              background: white;
              border-radius: 50%;
              z-index: 4;
              -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.skills .skill .xd .circle-inner img {
                width: 40px;
                margin-top: 20px; 
}

.skills .skill .xd .circle-inner img {
              width: 40px;
              margin-top: 20px; 
}

.skills .invisible {
          height: 0;
          opacity: 0;
          padding: 0;
          margin: 0; 
}
